@media screen and (max-width: 900px){
    .sobre .row_second .column img{
        padding: 0  ;
    }

}

@media screen and (max-width: 768px){
    header{
        position: relative;
    }

    main .main{
        padding: 80px 20px;
    }

    main .logo{
        width: 100%;
        padding: 10px;
    }

    main nav{
        width: 100%;
    }

    main nav ul{
        width: 100%;
        justify-content: space-around;
        padding: 10px;
    }
    main nav .btn_orcamento{
        width: 220px;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .sobre .row_second{
        flex-direction: column-reverse;
    }
    .sobre .row_second .column{
        width: 100%;
        text-align: center;
    }
    .sobre .row_second .column img{
        max-width: 400px;
        margin: 0 auto;
    }

    .produtos .produto-single{
        width: calc(50% - 20px);
    }
}


@media screen and (max-width: 600px){
    main nav .btn_orcamento{
        width: 200px;
    }
    .main{
        padding: 80px 0;
    }
    .main h1{
        font-size: 30px;
    }

    .main p{
        font-size: 14px;
    }
    .main form{
        flex-wrap: wrap;
    }
    .main form input{
        width: 100%
    }
    .main form button{
        margin: 15px 0;
    }

    .sobre .row_second .column h3{
        font-size: 20px;
    }
    .sobre .row_three .box{
        position: relative;
        right: 0;
        bottom: 0;
        width: 90%;
        margin: 0 auto;
        top: 40px;
        padding: 20px;
    }

    footer .column{
        width: 100%;
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 500px){
    .produtos .produto-single{
        width: calc(100% - 20px);
    }

    .contato form p{
        padding: 0 20px;
        display: flex;
        align-items: start;
        flex-direction: column !important;
    }

    .contato form p input, .contato form p textarea{
        width: 100%;
        margin-top: 10px;
    }
}