.footer{
    width: 100%;
    background-color: #fff;
}

.footer_container{
    width: 100%;
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}

.footer_social{
    width: 50%;
    display: flex;
}

.footer_social a{
    margin: 16px;
}

.footer p{
    color: #555;
}

.footer_logo{
    width: 50%;
}
.Logo {
    width: 180px !important;
    color: #000;
    display: flex;
    font-size: 24px;
    font-weight: 600;
    user-select: none;
    text-decoration: none;
    flex-wrap: nowrap;
}

.Logo span {
    color: #388e3c;
}

.Logo p {
    overflow: hidden;
    transition: width 0.5s;
    width: initial !important;
    padding: 0 !important;
}

@media screen and (max-width: 660px){
    .footer_container{
        flex-wrap: wrap;
    }


    .footer p {
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }
}