.plataforma{
    background-color: #388e3c;
}

.plataforma_container{
    padding: 80px 0;
    color: #eee;
}

.plataforma h1{
    font-size: 24px;
    margin-bottom: 30px;
}

.plataforma p{
    max-width: 700px;
    margin-bottom: 30px;
}

.plataforma_download{
    display: flex;
    width: 100%;
}

.plataforma_download img{
    width: 120px;
    margin-right: 20px;
}

@media screen and (max-width: 600px){
    .plataforma_container{
        padding: 50px 0;
    }
}